@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
:root{
    --text-body:#555B6D;
    --grey-medium:#D9D9D9;
    --grey-light:#F5F5F5;
    --blue-medium:#304FFE;
    --blue-primary:#007BFF;
    --blue-primary-light:#E6F1FD;
    --purple-com:#6a1b9a;
    --blue-prod:#01579b;
    --success:#56CA00;
    --success-dark:#2AAF5D;
    --success-ma:#35CB9C;
    --success-medium:#D2FFE3;
    --success-light:#E5FFD1;
    --danger:#dc3545;
    --danger-secondary:#FF4C51;
    --pink:#FF6EC4;
    --danger-light:#FFDCDF;
    --orange:#F7951E;
    --orange-light:#FFE8CD;
    --warning:#ffc507;
    --warning-light:#FFF2C8;
    --opacity: .45;
    --orange-cot:#f7951e;
}
body{background-color: #dce0e3; color:var(--text-body); font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 300; }
h1,h2,h3,h4,h5,h6{font-weight: 700; line-height: 1.5; margin: 0;}
h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.2rem;}
h4{font-size: 1rem;}
h5{font-size: .85rem;}
h6{font-size: .75rem;}

#wrapper{min-height: calc(100vh - 120px);}
#footer{ height: 120px;}
.breadcrumbs{font-family: 'Roboto Condensed', sans-serif;}
.bg-rh{background-color: var(--success); border-color: var(--success);}
.alert{
    background-color: transparent;
    padding: .75rem;
    margin-bottom: 1rem;
    color: inherit;
    border: none;
    border-radius: 0.375rem;
    position: relative;
    border-radius: 0.375rem;
    border-left: 10px solid transparent;
}
.alert-warning{
    background-color: var(--warning-light);
    color: var(--orange);
    border-color: var(--warning);
}
.alert-warning-bg{
    background-color: var(--orange);
    color:#fff;
    border-color: var(--warning);
}
.alert-success{
    background-color: var(--success-light);
    color: var(--success);
    border-color: var(--success);
}
.alert-success-bg{
    background-color: var(--success);
    color: #fff;
    border-color: var(--success-dark);

}
.alert-danger{
    background-color: var(--danger-light);
    color: var(--danger);
    border-color: var(--danger);
}
.alert-danger-bg{
    background-color: var(--danger);
    color: #fff;
    border-color: var(--danger-secondary);
}
.badge{
    background-color: transparent;
    display: inline-block;
    font-size: .75rem;
    padding: .45em .95em ;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50px;
    margin: .25rem;
}

.badge-success{
    background-color: var(--success-medium);
    color: var(--success-dark);
}
.badge-primary{
    background-color: var(--blue-primary-light);
    color: var(--blue-medium);
}
.badge-secondary{
    background-color: var(--grey-medium);
    color: var(--text-body);
}
.badge-danger{
    background-color: var(--danger-light);
    color: var(--danger);
}
.badge-warning{
    background-color: var(--warning-light);
    color: var(--orange);
}

[class^="title_Bar-"] {
    background-color: transparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #fff;
    text-align: center;
    display: block;
    padding: 5px;
    margin-bottom: 1.5rem;
}
.title_Bar-C {background-color: var(--purple-com);}
.title_Bar-RH {background-color: var(--success);}

.title{font-size: 1.5rem; line-height: 1.5; font-weight: 300; margin:.2rem 0;}
.subtitle{font-size: 1.2rem; line-height: 1.5; font-weight: 300; margin: 0 0 .5rem 0;}
.text-table{font-size: .75rem; line-height: 1.5; font-weight: 300; margin: 0;}
.text-link{font-size: .75rem; line-height: 1.5; font-weight: 300; margin: 0;}

.btn{border: none; display: inline-block; font-size: .75rem; padding: .55rem 1.435rem; letter-spacing: .0125em; text-transform: uppercase; box-shadow: 0 4px 8px -4px rgba(94,86,105,.42)}
.btn-third{padding: .45rem .75rem; margin-bottom: .45rem;}
.btn-third:not(:nth-child(1)){margin-left: .77rem; }
.btn-link{padding:.25rem .5rem; text-decoration: none; box-shadow: none; transition: color .15s ease-in-out,background-color .15s ease-in-out; text-transform:none;}
.btn-link-primary:hover{background-color: var(--blue-primary-light);}

.btn-link-success{color: var(--success-dark);}
.btn-link-success:hover,.btn-link-success:focus{background-color: var(--success-light); color: var(--success-dark)} 

.btn-link-warning{color: var(--orange);}
.btn-link-warning:hover,.btn-link-success:focus{background-color: var(--warning-light); color: var(--orange)} 

.btn-link-danger{color: var(--danger);}
.btn-link-danger:hover, .btn-link-danger:focus{background-color: var(--danger-light); color: var(--danger)} 
.btn-link span{font-size: 16px; margin-right: .25rem;}

.btn-primary{background-color: var(--blue-primary);}
.btn-primary:hover{box-shadow: 0 6px 18px -8px rgba(94,86,105,.56)}
.btn-outline-primary{background-color: #fff; border: thin solid var(--blue-primary); box-shadow: 0px 4px 8px -4px rgba(0, 123, 255, var(--opacity));border-radius: 4px;}
.btn-outline-primary:hover{background-color: var(--blue-primary-light); color: var(--blue-primary); box-shadow: 0 6px 18px -8px rgba(0, 123, 255, var(--opacity))}

.btn-success{background-color: var(--success);}
.btn-success:hover{background-color:#50b603 ; box-shadow: 0 6px 18px -8px rgba(94,86,105,.56)}
.btn-outline-success{background-color: #fff; border: thin solid var(--success); color: var(--success); box-shadow: 0px 4px 8px -4px rgba(86, 202, 0, var(--opacity));border-radius: 4px;}
.btn-outline-success:hover{background-color: var(--success-light); border: thin solid var(--success); color: var(--success); box-shadow: 0 6px 18px -8px rgba(86, 202, 0, var(--opacity))}

.btn-danger{background-color: var(--danger);}
.btn-danger:hover{background-color:#c72e3d; box-shadow: 0 6px 18px -8px rgba(94,86,105,.56)}
.btn-outline-danger{background-color: #fff; color: var(--danger); border: thin solid var(--danger); box-shadow: 0px 4px 8px -4px rgba(220, 53, 69, var(--opacity));border-radius: 4px;}
.btn-outline-danger:hover{background-color: var(--danger-light); border: thin solid var(--danger); color: var(--danger); box-shadow: 0 6px 18px -8px rgba(220, 53, 69, var(--opacity))}

.btn-warning{background-color: var(--warning); color: #000;}
.btn-warning:hover{background-color:#fdcb27; box-shadow: 0 6px 18px -8px rgba(94,86,105,.56)}
.btn-outline-warning{background-color: #fff; color: var(--orange); border: thin solid var(--warning); box-shadow: 0px 4px 8px -4px rgba(255, 197, 7, var(--opacity));border-radius: 4px;}
.btn-outline-warning:hover{background-color: var(--warning-light); border: thin solid var(--warning); color: var(--orange); box-shadow: 0 6px 18px -8px rgba(255, 197, 7, var(--opacity))}

.btn-secondary{background-color: var(--text-body); color: #fff;}
.btn-secondary:hover{background-color:#717991; box-shadow: 0 6px 18px -8px rgba(94,86,105,.56)}
.btn-outline-secondary{background-color: #fff; color: var(--text-body); border: thin solid var(--text-body); box-shadow: 0px 4px 8px -4px rgba(85, 91, 109, var(--opacity));border-radius: 4px;}
.btn-outline-secondary:hover{background-color: var(--grey-light); border: thin solid var(--text-body); color: var(--text-body); box-shadow: 0 6px 18px -8px rgba(85, 91, 109, var(--opacity))}

.button_text{transition: all 0.2s;}
.button_loading .button_text{visibility: hidden; opacity: 0;}
.button_loading::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid rgba(255, 255, 255, 0.25);
    border-top-color: #fff;
    border-radius: 50%;
    animation: button_loading_spinner .5s ease infinite;
}
.button_loader{overflow: hidden;}
.button_loader::after{
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(60deg, transparent, transparent .75rem, var(--blue-prod) .75rem, var(--blue-prod) 1.5rem);
}

@keyframes button_loading_spinner {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

[class^="box-content"]{
    background-color: #fff;
    border-radius: 6px;
    border-top: 6px solid transparent;
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
    margin: 1rem;
}
.box-content-rh{border-color:var(--success);}
.box-content-prod{border-color: var(--blue-medium);}
.box-content-cot{border-color: var(--orange-cot);}
.box-content-prod{border-color: var(--blue-prod);}
.box-title{
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-wrap: wrap;
    /* font-size: 1.25rem; */
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: 2rem;
    padding: 8px 20px;
    word-break: break-all;
}

.box-body{
    padding:20px;
}
.box-footer{
    padding: 8px 20px;
}
/*---------------------------------------------- 
            B A C G R O U N D 
------------------------------------------------*/
.bg-orange{background-color: var(--orange-cot); border-color: var(--orange);}
.grey-light{color: var(--grey-light);}
.bg-pink-light{background-color: var(--danger-light);}
.bg-cot-light{background-color: var(--warning-light);}
.bg-pink-light .dropdown-text{color: var(--danger);}
.bg-cot-light .dropdown-text{color: var(--orange);}

/*---------------------------------------------- 
            I C O N 
------------------------------------------------*/
.icon-box-admin{
    background-color: var(--danger);
    color: #fff;
}
.icon-box-admin{
    background-color: var(--danger);
    color: #fff;
}
.icon-box-admin{
    background-color: var(--danger);
    color: #fff;
}
.icon-box-admin::before{
    content: "AD";
}
.dropdown-block .icon-box-admin:hover{
    background-color: var(--danger-light);
    color: var(--danger);
}
.icon-box-cot{
    background-color: var(--orange);
    color: #fff;
}
.icon-box-cot::before{
    content: "CT";
}
.icon-box-p{
    background-color: var(--blue-prod);
    color: #fff;
}
.icon-box-p::before{
    content: "PR";
}
.icon-box-cm{
    background-color: var(--purple-com);
    color: #fff;
}
.icon-box-cm::before{
    content: "CM";
}
.icon-box-invt{
    background-color: var(--blue-medium);
    color: #fff;
}
.icon-box-invt::before{
    content: "IV";
}
.icon-box-log{
    background-color: var(--blue-primary);
    color: #fff;
}
.icon-box-log::before{
    content: "LG";
}
.icon-box-ma{
    background-color: var(--success-dark);
    color: #fff;
}
.icon-box-ma::before{
    content: "MA";
}
.icon-box-rh{
    background-color: var(--success-ma);
    color: #fff;
}
.icon-box-rh::before{
    content: "RH";
}

[class^="icon-table"]{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid transparent;
    margin: .35rem .35rem;
    width: 30px;
    height: 30px;
    max-height: 30px;
    text-decoration: none;
    font-size: .90rem;
    font-weight: bold;
    transition: all .15s ease-in-out;
    cursor: context-menu;
}
.pe-auto{cursor: pointer;}
.icon-table-primary{
    background-color: var(--blue-primary-light);
    color: var(--blue-medium);
}
.icon-table-primary:hover{
    border: 2px solid var(--blue-primary);
    background-color: #fff;
    color: var(--blue-primary);
}
.icon-table-danger{
    background-color: var(--danger-light);
    color: var(--danger);
}
.icon-table-danger:hover{
    border: 2px solid var(--danger);
    background-color: #fff;
    color: var(--danger);
}

.icon-table-success{
    background-color: var(--success-light);
    color: var(--success);
}
.icon-table-success:hover{
    border: 2px solid var(--success);
    background-color: #fff;
    color: var(--success);
}
.icon-table-secondary{
    background-color: var(--grey-light);
    color: var(--text-body);
}
.icon-table-secondary:hover{
    border: 2px solid var(--text-body);
    background-color: #fff;
    color: var(--text-body);
}
.icon-table-warning{
    background-color: var(--orange-light);
    color: var(--orange);
}
.icon-table-warning:hover{
    border: 2px solid var(--orange);
    background-color: #fff;
    color: var(--orange);
}

[class^="icon-box"]{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: .35rem .35rem;
    width: 38px;
    height: 38px;
    max-height: 38px;
    border: none;
    outline: none;
    font-size: .85rem;

}
.icon-box-mod-rh{
    background-color: var(--success-dark);
    color: var(--success-light);
    font-weight: 500;
    cursor: pointer;
    width: 32px;
    height: 32px;
    max-height: 32px;
    cursor: default !important;
}
.icon-box-danger{
    background-color: var(--danger-light);
    color: var(--danger);
}

.icon-box-danger::before{
    content: "\e92d";
    font-family: 'Material Icons';
    font-size: 1.125rem;
}
.icon-box-primary{
    background-color: var(--blue-primary-light);
    color: var(--blue-medium);
}
.icon-box-primary::before{
    content: "\e92d";
    font-family: 'Material Icons';
    font-size: 1.125rem;
}
.icon-box-secondary{
    background-color: var(--grey-medium);
    color: var(--text-body);
}
.icon-box-secondary::before{
    content: "\e0d8";
    font-family: 'Material Icons Outlined';
    font-size: 1.125rem;
}
.icon-box-success{
    background-color: var(--success-light);
    color: var(--success-dark);
}
.icon-box-success::before{
    content: "\e878";
    font-family: 'Material Icons';
    font-size: 1.125rem;
}
.icon-box-warning{
    background-color: var(--orange-light);
    color: var(--orange);
}
.icon-box-warning::before{
    content: "\e638";
    font-family: 'Material Icons Outlined';
    font-size: 1.125rem;
}
.icon-box-pink{
    background-color: var(--pink);
    color: #fff;
}
.icon-box-pink::before{
    content: "\e7e9";
    font-family: 'Material Icons Outlined';
    font-size: 1.125rem;
}
[class^="icon-header-"]{
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    color: var(--text-body);
    transition: .5s;
}

.icon-header-menu::before{
    content: "\e5d2";
    font-family: 'Material Icons Outlined';
}
.icon-header-noti::before{
    content: "\e7f4";
    font-family: 'Material Icons Outlined';
}
.icon-header-mod::before{
    content: "\e99b";
    font-family: 'Material Icons Outlined';
}
.icon-header-dark::before{
    content: "\e3aa";
    font-family: 'Material Icons Outlined';
}
.icon-header-exit::before{
    content: "\e879";
    font-family: 'Material Icons Outlined';
}
/*---------------------------------------------- 
        C U S T O M - T O O L T I P S 
------------------------------------------------*/
/* .icon-header-noti::before{
    content: "\e7f4";
    font-family: 'Material Icons Outlined';
} */
.custom-tooltip {
    --bs-tooltip-font-size: .75rem;
    font-family: 'Roboto';
    position: relative;
  }
.custom-tooltip-primary {
    --bs-tooltip-bg: var(--blue-primary);


  }
.custom-tooltip-secondary {
    --bs-tooltip-bg: var(--text-body);
    
  }
.custom-tooltip-success {
    --bs-tooltip-bg: var(--success);
  }
.custom-tooltip-warning {
    --bs-tooltip-bg: var(--orange);
  }
.custom-tooltip-danger {
    --bs-tooltip-bg: var(--danger);
  }
/*---------------------------------------------- 
        A N I M A T I O N S
------------------------------------------------*/
  .animation{
    animation: transitionIn 0.75s;
  }
  .anime{animation: anime 0.35s;}
  @keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes anime {
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
  }
  @keyframes v-shake {
    59% {
     margin-left:0
    }
    60%,
    80% {
     margin-left:2px
    }
    70%,
    90% {
     margin-left:-2px
    }
   }
   
   @keyframes Dropdownd {
    from {
      opacity: 0;
      transform: translate(0,-5px);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .animation-drop {
    animation: Dropdownd 0.30s;
  }

/*---------------------------------------------- 
                T A B L E
------------------------------------------------*/
.box-body-table table {
    color: var(--grey-text);
    font-family: 'Roboto Light';
  }

.box-body-table table thead th {
    background-color: var(--grey-light);
    border: none;
    font-size: clamp(.65rem,.4vw + .55rem,.75rem);
    letter-spacing: .0125em;
    padding: 1.2rem .75rem;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    text-align: center;
  }
  .box-body-table table  thead tr:nth-child(1) th {
    border-left: thin solid #555b6d1e;
  }
  .box-body-table table thead tr:nth-child(1) th {
    border-bottom: thin solid #555b6d1e;
  }

.box-body-table table tbody td {
    font-size: clamp(.75rem,.4vw + .55rem,.75rem);
    padding: 12px 8px;
    text-rendering: optimizeLegibility;
    border-bottom: thin solid rgba(94,86,105,.14);
  }
  .icon-convention{display: flex; align-items: center; margin-right: .45rem;}
  .icon-convention .convention-text{font-size: .75rem; margin-left: .15rem;}

  /*---------------------------------------------- 
            L A B E L - F L O A T  I N G
------------------------------------------------*/
.form-floating, .form-check, .input-group, .form-select{ margin-bottom: 1.2rem;}
  .form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 1;
    transform: scale(.85) translateY(-1.25rem) translateX(.15rem);
    background-color: #e9ecef;
    color: var(--text-body);
    font-size: .80rem;
}

   /* .form-select ~ label {
    opacity: 1;
    transform: scale(.85) translateY(-1rem) translateX(.15rem);
    background-color: #fff;
    color: #8d37c8;} */
    .input-group .form-control{font-size: .80rem;}
    .form-control{font-weight: 300; font-size: .80rem;}
    .form-select {
        font-size: .75rem;
      }
    .form-floating > .form-select {
        padding-top: .75rem;
        padding-bottom: .325rem;
        font-weight: 300;
      }

    .form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
        height: 38px;
        line-height: 1.25;}

    .form-floating > label {
        position: absolute;
        top: 6px;
        left: 4px;
        padding: .07rem .75rem;
        border-radius: 4px;
        overflow: hidden;
        height: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    }

    .form-control:focus {
    box-shadow: 0 4px 14px 0 rgb(94 86 105 / 14%);
    }

    .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: .75rem;
    padding-bottom: .625rem;
    font-weight: 300;
    }

    .form-floating > .form-select ~ label {
    opacity: 1;
    transform: scale(.85) translateY(-1.2rem) translateX(.15rem);
    background-color: #fff;
    color: var(--blue-medium);
    font-size: .80rem;
    }
    .input-group > .form-control ~ label {
        opacity: 1;
        transform: scale(.85) translateY(-1.2rem) translateX(.15rem);
        background-color: #fff !important;
        color: var(--blue-medium) !important;
        font-size: .80rem;
        z-index: 1;
      }
      .input-group >.form-control {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
      }
    .form-select:focus {
    box-shadow: 0 4px 14px 0 rgb(94 86 105 / 14%);
    border-color: var(--text-body);
    }
    
    .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--text-body);
    outline: 0;
    box-shadow: 0 4px 14px 0 rgb(94 86 105 / 14%);

/* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    }

          .form-check-input {
            width: 1.2em;
            height: 1.2em;
            margin-top: .15em;
            border: 2px solid var(--text-body);
            transition: all .2s;
        }

        .form-check-input:active {filter: brightness(90%);}
        .form-check-input:checked {
        background-color: var(--text-body);
        border-color: var(--text-body);
        }
        .form-check-input:focus {
        border-color: var(--text-body);
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(85, 91, 109,.25);
        }

        .input-group{height: 38px;}

        .input-group-text:focus{
        border: 1px solid var(--orange);
        }
        .input-group-text{background-color: #fff; color: var(--text-body);}

        .form-check {
            margin-bottom: .125rem;
          }
/*---------------------------------------------- 
            D R O P D O W N
------------------------------------------------*/

  .dropdown-menu-noti {
    top: 150% !important;
    position: absolute;
    margin-top: var(--bs-dropdown-spacer);
    box-shadow: 0px 16px 32px 1px rgba(0, 0, 0, 0.1);
    border: none;
    min-width: 20rem;
    font-weight: 300;
  }
  @media (max-width: 576px){
    .dropdown-menu-noti {
    left: -290px !important;}
  }
  .dropdown-block{cursor: pointer; display: flex; align-items: center; transition: all .2s ease;}
  .dropdown-block:hover{background-color: var(--grey-light);}
  .dropdown-menu-noti li:not(:nth-child(1)) {padding: .35rem .75rem; color: var(--text-body);}
  .dropdown-menu-noti li:not(:nth-last-child(1)) {border-bottom: 1px solid rgba(94, 86, 105, .14);}
  .dropdown-block .dropdown-text{font-size: .75rem; font-weight: 500;}
  .dropdown-block .dropdown-text-small{font-size: 11px; font-weight: 300;}
  
  .block-mod{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

@keyframes Dropdownd {
    from {
      opacity: 0;
      transform: translate(0,-5px);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .animation-drop {
    animation: Dropdownd 0.30s;
  }

.dropdown-menu-noti {
top: 150% !important;
position: absolute;
margin-top: var(--bs-dropdown-spacer);
box-shadow: 0px 16px 32px 1px rgba(0, 0, 0, 0.1);
border: none;
min-width: 20rem;
font-weight: 300;
}
@media (max-width: 576px){
.dropdown-menu-noti {
left: -290px !important;}
}

.dropdown-block{cursor: pointer; display: flex; align-items: center; transition: all .2s ease;}
.dropdown-block:hover{background-color: var(--grey-light);}
.dropdown-menu-noti li:not(:nth-child(1)) {padding: .35rem .75rem; color: var(--text-body);}
.dropdown-menu-noti li:not(:nth-last-child(1)) {border-bottom: 1px solid rgba(94, 86, 105, .14);}
.dropdown-block .dropdown-text{font-size: .75rem; font-weight: 500;}
.dropdown-block .dropdown-text-small{font-size: 11px; font-weight: 300;}

/*---------------------------------------------- 
       N O T I F I C A T I O N - M O D U L O
------------------------------------------------*/

.block-mod{ 
display: flex;
justify-content: center;
align-items: center;
width: 52px;
height: 52px;
border-radius: 50%;
}
.icon-box-admin{
background-color: var(--danger);
color: #fff;
}
.icon-box-admin{
background-color: var(--danger);
color: #fff;
}
.icon-box-admin{
background-color: var(--danger);
color: #fff;
}

.icon-box-admin::before{
content: "AD";
/* content: "\ef3d";
font-family: 'Material Icons Outlined';
font-size: 1.125rem;} */
}
.icon-box-cot{
background-color: var(--orange);
color: #fff;
}
.icon-box-cot::before{
content: "CT";
}
.icon-box-p{
background-color: var(--blue-prod);
color: #fff;
}
.icon-box-p::before{
content: "PR";
}
.icon-box-cm{
background-color: var(--purple-com);
color: #fff;
}
.icon-box-cm::before{
content: "CM";
}
.icon-box-invt{
background-color: var(--blue-medium);
color: #fff;
}
.icon-box-invt::before{
content: "IV";
}
.icon-box-log{
background-color: var(--blue-primary);
color: #fff;
}
.icon-box-log::before{
content: "LG";
}
.icon-box-ma{
background-color: var(--success-dark);
color: #fff;
}
.icon-box-ma::before{
content: "MA";
}
.icon-box-rh{
background-color: var(--success);
color: #fff;
}
.icon-box-rh::before{
content: "RH";
}
.grey-light{color: var(--grey-light);}
.bg-pink-light{background-color: var(--danger-light);}
.bg-cot-light{background-color: var(--warning-light);}
.bg-pink-light .dropdown-text{color: var(--danger);}
.bg-cot-light .dropdown-text{color: var(--orange);}
.svg-icon {
width: 24px;
height: 24px;
}
/* .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: var(--success);
}

.svg-icon circle {
stroke: var(--success);
stroke-width: 1;
} */
/*---------------------------------------------- 
                S I D E B A R
------------------------------------------------*/

.sidebar-menu{padding-left:.15rem;}
.sidebar-menu {
list-style: none;
margin: 0;
padding: 0;
}
.sidebar-menu .sidebar-submenu {
/* display: none; */
list-style: none;
padding-left: 5px;
margin: 0 1px;
background: #0061641e;
}
.sidebar-menu .sidebar-submenu > li > a {
padding: 5px 5px 5px 10px;
display: block;
font-size: 1em;
}

.st0{fill:none;}
/* .st1{fill:#fff;} */
.offcanvas.offcanvas-start {width: 320px;}
/* .offcanvas.offcanvas-start.bg-offcanvas {background-image: linear-gradient( 135deg, #006064 10%, #00fcbd 100%);} */
.offcanvas-header .btn-close{
position: absolute;
top: 10px;
right: 15px;
}

.text-success{color: var(--success)!important;}
.text-danger{color: var(--danger);}
/* .text-secondary{color: var(--danger);} */

.grid-container{display: grid; grid-template-columns: repeat(6, minmax(0, 1fr)) ; gap: 14px;}
.col-span-1{grid-column: span 1/ span 1;} 
.col-span-2{grid-column: span 2 / span 2;} 
.col-span-3{grid-column: span 3 / span 3;}  
.col-span-4{grid-column: span 4 / span 4;}
.col-span-4{grid-column: span 5 / span 5;}
.col-span-6{grid-column: span 6 / span 6;}

@media (max-width: 576px){
    .grid-container {grid-template-columns: 1fr;
  }
}
  

.acount_ajust:not(:nth-last-child(1)){border-bottom: 1px solid var(--grey-medium); margin-bottom: .85rem; padding-bottom: 1rem;}
.acount_ajust .acount_title {margin-bottom: .75rem;}
.acount_ajust .acount_title b{font-weight: 600;}